---
layout: default
title: "Miscellaneous"
permalink: /miscellaneous/
author_profile: true
---

{% include base_path %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="miscellaneous-container">
    <div class="miscellaneous-block">
      <h2 class="miscellaneous-heading">
        About Me:
      </h2>
      <ul>
        <li>I am originally from the United States, and grew up in New England!</li>
        <li>In my spare time, I like to spend time outside, read, or cook.</li>
        <li>
          Favorite games to play while waiting for my code to run:
          <a href="https://www.countryle.com" target="_blank">Countryle/Capitale</a>
          <a href="https://www.geoguessr.com" target="_blank">Geoguessr</a>
        </li>
      </ul>
    </div>
    <div class="miscellaneous-block">
      <h2 class="miscellaneous-heading">
        Colleagues and Friends with Fascinating Research:
      </h2>
      <p>
        <a href = "https://remibazillier.wordpress.com" target = "blank" style="text-decoration: underline; margin-right: 15px;" > Rémi Bazillier </a> </a> <a href="https://yanisbkt-econ.github.io" target="_blank" style="text-decoration: underline; margin-right: 15px;">Yanis Bekhti </a> <a href="https://climateeconrob.github.io" target="_blank" style="text-decoration: underline; margin-right: 15px;">Robert Reinhardt </a> <a href="https://sites.google.com/feps.edu.eg/nadahazem/nada-hazem" target="_blank" style="text-decoration: underline; margin-right: 15px;"> Nada Hazem </a>
 <a href="https://sites.google.com/site/laurinemartinoty/" target="_blank" style="text-decoration: underline; margin-right: 15px;">Laurine Martinoty </a> <a href="https://leamarchal.fr" target="_blank" style="text-decoration: underline; margin-right: 15px;">Léa Marchal </a> <a href="https://sites.google.com/view/clementgorin/home" target="_blank" style="text-decoration: underline; margin-right: 15px;">Clément Gorin </a> <a href="https://sites.google.com/site/clementbosquet/" target="_blank" style="text-decoration: underline; margin-right: 15px;">Clément Bosquet </a>
      </p>

    </div>
  </div>
</div>